{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
     
    <link rel="stylesheet" href="{% static 'about.css' %}">

	<style>
	
	</style>
	<title>
		
	</title>
</head>
<body>
	<div id="header">
	  <a href="/" id="logo">PocketJob</a>
	  <ul id="menu">
	    <li><a href="/"><span>Home</span></a></li>
	    <li><a href="/"><span>Courses</span></a></li>
	    <li><a href="/"><span>About us</span></a></li>
	    <li><a href="/"><span>Team</span></a></li>
	  </ul>
	</div>

	<h3>-Our Mission-</h3>
	<p>
		Our mission is to connect knowledge with career impact.    
	</p>
	<h3>-Our Story-</h3>
	<p>
		
	</p>
	<h3>
		Where does "Pocketjob" come from?
	</h3>
</body>


</html>