
{% extends "base.html" %}
{% block my_title %}

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
     
    <link rel="stylesheet" href="/static/about.css">

{% endblock %}

{% block content %}
	<h4>-Our Mission-</h4>
	<p>
		Our mission is to connect knowledge with career impact.    
	</p>
	<h4>-Our Story-</h4>
	<p>
		PocketJob has been created in very rainy week in June 2019 when  both of the heroes were destroyed mentally and phisically and despite this obstacle, they saw great demand for their product, which gave them the needed energy and motivation to deliver high-quality system.
	</p>

	{% endblock %}