{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
     
    <link rel="stylesheet" href="{% static 'home.css' %}">

	<style>
	
	</style>
	<title>
		
	</title>
</head>
<body>
	<div id="header">
	  <a href="/" id="logo">PocketJob</a>
	  <ul id="menu">
	    <li><a href="/"><span>Home</span></a></li>
	    <li><a href="/"><span>Courses</span></a></li>
	    <li><a href="/"><span>About us</span></a></li>
	    <li><a href="/"><span>Team</span></a></li>
	  </ul>
	</div>
	<div id="after_header">
		<h1>Welcome to Pocketjob!</h1>
		<h3>Learn. Perform. Achieve.</h3>
	</div>
	
	<button class="button">Learn-lovers,start here.</button>
	<button class="button">Businesses, start here.</button>

</body>
</html>