{%extends "base.html"%}

{% block content%}


	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	     
	<link rel="stylesheet" href="/static/team.css">

<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://scontent.fbud2-1.fna.fbcdn.net/v/t1.0-9/22195749_1899359650091128_8649912677560141431_n.jpg?_nc_cat=109&_nc_ht=scontent.fbud2-1.fna&oh=4abd25d77b48f32957f364997ed9e7bc&oe=5D5BA2FB" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Mr.Old Меринджей</h2>
        <p class="title">Front-end Destroyer</p>
        <p class = not_title> Party ... pooper </p>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://scontent.fbud2-1.fna.fbcdn.net/v/t1.0-9/43258953_2188389864818224_3939537741275987968_n.jpg?_nc_cat=104&_nc_ht=scontent.fbud2-1.fna&oh=2416e5c43dce553989af9f4ee8b09e35&oe=5D925F94" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mr. Young Меринджей</h2>
        <p class="title">Back-end Disaster</p>
        <p class= "not_title"> Party Animal </p>

      </div>
    </div>
  </div>

  </div>
</div>
{% endblock%}
