{%extends "base.html"%}

{%block content%}

<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html">
  <title>User Profile with Content Tabs - Design Shack Demo</title>
  <meta name="author" content="Jake Rocheleau">
  <link rel="shortcut icon" href="http://designshack.net/favicon.ico">
  <link rel="icon" href="http://designshack.net/favicon.ico">
  <link rel="stylesheet" type="text/css" media="all" href="/static/my_profile.css">
</head>

<body>
    <h1>
        Welcome, {{user.username}}!
    </h1>

    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                            {% if user.is_authenticated %}

                                <h1 style="text-align: right;"> {{ user.username }}</h1>
                            {%endif%}
                                   <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">

                        <div class="profile-usertitle-job">
                                {% if user.is_staff %} 
                                    Business
                                    <li><a href="/addcourse"><span>Add Course</span></a></li>
                                {% else %}
                                    <div class="profile-usertitle-job">

                                        Student</div>
                                    {% endif %}
                                

                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li>
                                <a href="#">
                                <i class="glyphicon glyphicon-user"></i>
                                Update Info </a>
                            </li>
                            <li>
                                <a href="/mycourses">
                                <i class="glyphicon glyphicon-ok"></i>
                                My Courses </a>
                            </li>

                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>
            <div class="col-md-9">
                <div class="profile-content">
                    {% if user.is_staff %}
                        <p> Company name:{{profile.company_name}}</p>
                        <p> Projects: {{profile.projects}}</p>
                        <p> Email:{{profile.user.email}}</p>
                    {% else %}
                        <p>First Name:{{profile.user.first_name}}</p>
                        <p>Last Name:{{profile.user.last_name}}</p>
                        <p>Email :{{profile.user.email}}</p>
                        <p> Birth Date:{{profile.birth_date}}</p>
                        <p> Skills:{{profile.skills}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{%endblock%}